body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
button {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  margin-top: 20px;
}

h1 {
  font-size: 50px;
}

span {
  color: red;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}