body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

h1 {
  font-size: 50px;
  z-index: 4;
}

span {
  color: red;
}

.App {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.date {
  color: var(--tg-theme-button-text-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  z-index: 4;
  margin-top: 20px;
}

.wrapper_BG {
  width: 100px;
  height: 100px;
}

.bg {
  width: 200px;
  height: 200px;
  clip-path: circle(70px);
}